{%extends "./base-page.html"%}
{%block content-page%}
<div class="grid">
    {%for icon in icons%}
    {% if icon.id == 5 %}
    <div class="item">
        <div class="coin-counter">
          Your Coins:
          <span>{{many}}</span>
        </div>
    </div>
    {% endif %}
    <form action="buy_icon/{{icon.id}}" class="item {% if icon.id <= 3 %}first-item{% endif %}">
      <img src="{{icon.image.url}}" class="icon-img">
      <button class="buy-button" type="submit">Buy {{icon.costs}}</button>
    </form>
    {%endfor%}
</div>
{%endblock%}