{%for statistics in statistics_list%}
<div class="exe-box statistic">
        <div class="pla">
            <ul class="place">
                <li>Назва вправи {{statistics.task.name}}</li>
                <li>Скільки зроблено {{statistics.number}}</li>
                <li>Який раз ви виконуєте вправу {{statistics.counts}}</li>
                <li>Cкільки ви получили монет {{statistics.coins}}</li>
                <li>Cкільки ви получили балів {{statistics.points}}</li>
            </ul>
        </div>
</div>
{%endfor%}