{%extends './form-base.html'%}
{%block header%}
<a href="/registration">Регістрація</a>
<a href="/autorization">Авторизація</a>
{%endblock%}
{%block body%}
<input type="text" id="username" name="username" placeholder="Username" required>
{%if registretion%}
<input type="text" id="email" name="email" placeholder="Email" required>
<input type="password" id="password1" name="password1" placeholder="Password">
{%endif%}
<input type="password" id="password2" name="password2" placeholder="Password">
{%endblock%}          
        