{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{%static 'registretion/js/functions_registration.js'%}"></script>
    <script src="{%static 'registretion/js/functions.js'%}"></script>
    <script src="{%static 'registretion/js/function_submit.js'%}"></script>
    <script src="{%static 'pages/js/exit.js'%}"></script>
    <script src="{%static 'pages/js/change-password.js'%}"></script>
    <script src="{%static 'pages/js/buy.js'%}"></script>
    <script src="{%static 'registretion/js/submits.js'%}"></script>
    <script src="{%static 'pages/js/resize-margin.js'%}"></script>
    <link rel="stylesheet" href="{% static 'registretion/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'pages/css/pages.css'%}">
    <title>HealthCare {{title}}</title>
</head>
<body>
    <main>
    </main>
    <script src="{% static 'registretion/js/script.js'%}"></script>
</body>
</html>