body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #dde5f4, #b8c9f1);
    margin: 0;
    padding: 0;
    
}

.container {
    background: #f2f2f2 !important;
    /*padding: 80px;*/
    box-sizing: border-box;
    margin: 0 auto;
    text-align: left;
    /*height: 110px;*/
    margin-top: 6%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 6px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    width:100%;
    aspect-ratio: 1261/114;
    gap: 20px;
    padding-left: clamp(0px,13vw,166px);
    padding-right: clamp(0px,13vw,166px);
}

.main-box {
    width:87vw;
    max-width:1261px;
    aspect-ratio: 1261/860;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
}

.pages-conteiner{
    display: flex;
    align-items: center;
    height:100%;
    background: linear-gradient(to right, #dde5f4, #b8c9f1);
}
.icon-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1261/358;
}
.icon {
    width:24vw;
    max-width: 358px;
    aspect-ratio: 1;
}

.btn{
    display: flex;
    border: none;
    border-radius: 50px;
    background: #668cff;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;;
    box-shadow: 0px 4px 10px #c0c0c0;
    text-decoration: none;
    width:15vw;
    max-width:230px;
    aspect-ratio: 230/57;
    justify-content: center;
    align-items: center;
    font-size: clamp(0px,calc(1vw + 1rem),20px);
}

.btn:hover {
    background: #4a6fd1;
}

.btn:active {
    background: white;
    color: #668cff;
    border: 2px solid #ffffff;
}

.exe-box {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;  /* Світлий фон */
    width:68%;
    flex-direction: column;
    aspect-ratio: 858/119;
    border-radius: 50px;  /* Заокруглені кути */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);  /* Тінь для глибини */

    margin: 0px auto;
    margin-bottom:10px; 
}

form.exe-box{
    padding-bottom:20px;
    padding-top:30px;
}

.statistic{
    min-width: 1100px;
    max-width: 100%;
}

.place {
    font-size: 42px;
    font-weight: bold;
    border:0;
    color: #668cff;
}

.pla {
    background-color: #e4f0ff;  /* Світлий фон */
    padding-right: 325px;  /* Відступи всередині */
    min-height: 40px;
    margin-top: 20px;
    border-radius: 50px;  /* Заокруглені кути */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);  /* Тінь для глибини */
    min-width: 583px;  /* Обмеження ширини */
    padding:100px;
}

.top-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;  /* Світлий фон */
    width: 858px;
    height: 411px;

    border-radius: 80px;  /* Заокруглені кути */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);  /* Тінь для глибини */

    margin: 0px auto;  /* Центрування блоку по горизонталі */
    color: #668cff;
    margin-top:35px;
    font-size: 32px;
    padding-top: 30px;
    
}

.content-block,.grid{
    overflow: auto;
    height: 70%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top:80px
}

.item {
    width: 55%;
    aspect-ratio: 1;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    justify-self: center;
}

.buy-button:hover{
    color:#4a6fd1;
}

.buy-button:active{
    color:#4a6fd1;
    background:rgba(74, 111, 209, 0.6);
}

.buy-button,.coin-counter{
    font-weight: bold;
    color: #4a8eff;
    font-size: 24px;
}

.buy-button{
    background: rgba(0,0,0,0);
    border:0px;
}

.icon-img{
    width: 110px;
    height: 110px;
    margin-bottom: 8px;
}

.buy-button{
    cursor: pointer;
}

.icons-form{
    margin: 0 auto;
    width: 79%;
    aspect-ratio: 1000/192;
}

.icons-form>img{
    width:19%;
}


.exercise-card {

    background-color: white;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
  }

  .exercise-card input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 30px; /* 👉 Заокруглення */
    background-color: #e0e0e0;
    outline:none;
    height: 40px;
    font-size: 16px;
  }

  .save-button {
    background-color: #4a8eff;
    color: white;
    border: none;
    border-radius: 30px; /* 👉 Заокруглення */
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    height: 40px;
    display: flex;               /* 👉 Центрування тексту */
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  .exercise-card h2 {
    color: #4a8eff;
    margin-bottom: 50px;
  }

  .exercise-image {
    width: 100%;
    object-fit: contain; /* Це дозволить зображенню зберігати пропорції */
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .instruction-list {
    text-align: left;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }

  
  .input-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 60px;
  }

.exercise-card>img{
    width: 457px;
    border-radius:50px;
}

.top-box>.pla{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    padding-left:26px;
}

.info{
    flex-direction: row;
    justify-content: left;
    padding-left:7%;
    aspect-ratio: 858/148;
}

.info>h1:first-child{
    margin-right:14%
}

.info>h1{
    font-size:clamp(0px,calc(2vw + 1rem),40px)
}

.margin-top{
    margin-top: 38px;
}

.statistics-inform{
    width:68%;
    margin-left:auto;
    margin-right: auto;
}
